{
    "singleQuote": false,
    "trailingComma": "es5",
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "endOfLine": "auto",
    "semi": false,
    "useTabs": false,
    "tabWidth": 4,
    "printWidth": 100
}
